.projectCardContainer {
  display: flex;
  flex-direction: column !important;

  flex-wrap: wrap;

  height: 15vh;
  width: 20vw;

  word-wrap: normal;

  margin: 1rem;

  border: solid black 1px;
  border-radius: 24px;

  background-color: #a3f6a8;

  justify-content: space-evenly;
  align-items: flex-start;
  padding: 1rem;

  color: #334b49;
  text-decoration: none; /* or other styles you want */

  transition: 0.1s ease;
}

/* Remove the hover color change */
.projectCardContainer:hover {
  color: #334b49;
  text-decoration: none; /* or other styles you want */

  background-color: #4aff56;

  transform: scale(1.025);
  transition: 0.1s ease;
}

.projectDescription {
  font-size: 12px;
  text-align: left;
}

.projectCardTitleContainer {
  display: flex;
  flex-direction: row;

  min-width: 100%;

  justify-content: space-between;
}

.iconContainer {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 500px) {
  .projectCardContainer {
    display: flex;
    flex-direction: column !important;

    flex-wrap: wrap;

    height: 15vh;
    width: 70vw;

    word-wrap: normal;

    margin: 1rem;

    border: solid black 1px;
    border-radius: 24px;

    background-color: #a3f6a8;

    justify-content: space-evenly;
    align-items: flex-start;
    padding: 1rem;

    color: #334b49;
    text-decoration: none; /* or other styles you want */

    transition: 0.1s ease;
  }

  /* Remove the hover color change */
  .projectCardContainer:hover {
    color: #334b49;
    text-decoration: none; /* or other styles you want */

    background-color: #4aff56;

    transform: scale(1.025);
    transition: 0.1s ease;
  }

  .projectDescription {
    font-size: 12px;
    text-align: left;
  }

  .projectCardTitleContainer {
    display: flex;
    flex-direction: row;

    min-width: 100%;

    justify-content: space-between;
  }

  .iconContainer {
    display: flex;
    flex-direction: row;
  }
}
