div {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.welcomeContainer {
  display: flex;
  flex-direction: row;
  width: 70vw;
  height: 50vh;

  align-items: center;
  justify-content: space-between;
}

.linkList {
  list-style-type: none;

  display: flex;
  flex-direction: row;

  justify-content: flex-start;
  align-items: center;

  width: 10vw;
  margin: 0;
}

a:hover {
  cursor: pointer;
}

.introTitle {
  text-wrap: wrap;
  font-size: 64px;
  max-width: 20vw;

  font-weight: 900;

  margin: 0;
}

.nameText {
  color: #537eff;
}

.introContainer {
  display: flex;
  flex-direction: column;

  justify-content: space-evenly;
  align-items: center;

  /* background-color: gray; */
  width: 30vw;
  height: 30vh;
}

.imageContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: space-between;

  height: 35vh;
  width: 20vw;

  margin-right: 10vw;

  align-items: center;
}

img {
  padding: 0.65rem;
  filter: drop-shadow(0 0 4em #c5d3fd);
}
